/* set color on cart labels */
.navbar-inverse .navbar-text {
    color: white;
}


/* Setting the cursors */

/* dropdown corsor */
ul li  a {
    cursor: pointer;
}

/* information cursor in the store */
.beer-info{
    cursor: pointer;
}

/* cart cursor */
#nav-cart{
    cursor: pointer;
}

.flag-icon{
    cursor: pointer;
}

/* END Setting the cursors END */

/* set background color for table rows */
.selectedItem {
    background-color: #5cb85c;
}

.icon-margin{
    margin-right: 5px;
}

#trashcan{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
}

/*
table with fixed headers
http://stackoverflow.com/questions/17584702/how-to-add-a-scrollbar-to-an-html5-table
 */
table.tableSection {
    display: table;
    width: 100%;
}

table.tableSection thead,
table.tableSection tbody {
    width: 100%;
}

table.tableSection thead {
    overflow-y: scroll;
    display: table;
    table-layout: fixed;
    width: calc(100% - 16px); /* assuming scrollbar width as 16px */
}

table.tableSection tbody {
    overflow: auto;
    /*height: 150px;*/
    height: 325px;
    display: block;
}

table.tableSection tr {
    width: 100%;
    text-align: left;
    display: table;
    table-layout: fixed;
}
