# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

img/
.idea/

*.xml
*.png

.editorconfig
.gitattributes
.htaaccess
